<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Citizen</title>
</head>

<body class="container">
    <div th:replace="template.html :: repository-header"></div>

    <p class="h4 mb-4">Fill the form up</p>

    <form th:action="@{/citizens/save}" th:object="${citizen}" method="POST" class="col card p-3 mb-5">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input required type="text" th:field="*{firstName}" id="firstName" class="form-control" placeholder="Enter first name"/>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input required type="text" th:field="*{lastName}" id="lastName" class="form-control" placeholder="Enter last name"/>
        </div>

        <div class="form-group">
            <label for="passport">Passport</label>
            <input required type="text" th:field="*{passportNumber}" id="passport" class="form-control" placeholder="Enter passport number"/>
        </div>

        <div class="form-group">
            <label for="career">Career</label>
            <select required th:field="*{career}" id="career" class="form-control">
                <option value="" hidden>Select your career type</option>
                <option th:each="career : ${T(com.avgona.citizencrud.entity.Career).values()}"
                        th:value="${career}"
                        th:text="${career}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="apartment">Apartment</label>
            <input required type="number" th:field="*{address.apartment}" id="apartment" class="form-control" placeholder="Enter apartment"/>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input required type="text" th:field="*{address.street}" id="street" class="form-control" placeholder="Enter street"/>
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input required type="text" th:field="*{address.city}" id="city" class="form-control" placeholder="Enter city"/>
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <input required type="text" th:field="*{address.country}" id="country" class="form-control" placeholder="Enter country"/>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="foreignCitizenship1">Foreign citizenship #1</label>
                <input type="text" th:field="*{foreignCitizenship}" id="foreignCitizenship1" class="form-control" placeholder="Leave it empty if you don't have a foreign citizenship"/>
            </div>

            <div class="col">
                <label for="foreignCitizenship2">Foreign citizenship #2</label>
                <input type="text" th:field="*{foreignCitizenship}" id="foreignCitizenship2" class="form-control" placeholder="Leave it empty if you don't have a foreign citizenship"/>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <div th:replace="template.html :: back-to-repository"></div>
</body>
</html>
